#thirdDiv {
    background-color: yellow;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
li {
    color: red;
    font-size: 25px;
}
img {
    width: 400px;
    align-self: center; 
}
a:active {
    color: green;
}
